@import "variable";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  font-size: 15px;
}
body {
  margin: 0;
  background: $backgroundColor;
  min-width: 320px;
  font: 0.75em/1 'Roboto', sans-serif;
}

.page {
  max-width: 714px;
  padding: 45px;
  box-sizing: border-box;
  margin: 0 auto;
}
.error {
  display: block;
  padding: 3px;
  color: red;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: $buttonColor;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: $borderRadius;
  cursor: pointer;
  position: relative;
  outline: none !important;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0;
    right: 50%;
    opacity: 0.2;
    content: "";
    background: #fff;
    transition: .5s;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    right: 0;
  }

  &:disabled {
    cursor: auto;
    opacity: .2;
    &:after {
      display: none;
    }
  }
  &-copy {
    height: 24px;
    width: 90px;
    font-size: 0.92em;
  }
}

.link {
  text-decoration: underline;
  background: none;
  border: 0;
  font-weight: 300;
  padding: 0;
  margin: 0 5%;
  outline: none !important;
  &-edit {
    color: #067ce1;
  }
  &-delete {
    color: #b02337;
  }
  &:hover {
    text-decoration: none;
  }
}

.btnIcoDelete {
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
  border: 0;
  width: 15px;
  height: 15px;
  background: url("images/btn_delete.svg") no-repeat 50% 50%;
  transition: 1s;
  overflow: hidden;
  outline: none !important;
}
.btnIcoDelete:hover {
  transform: rotate(360deg) scale(.7);
}

@media only screen and ( max-width: $mobileWidth ) {
  .page {
    padding: 10px;
  }
}