/*===== Variable ====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$backgroundColor: #e5e8ed;
$borderRadius: 4px;
$buttonColor: #1493ff;
$darkBlue: #0a508c;
$whiteText: #a5b5cb;
$border: #c8ccd4;
$darkText: #4f5b65;

$mobileWidth: 700px